# Configuración del servidor
PORT=3001
NODE_ENV=development

# Configuración de email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu-email@gmail.com
EMAIL_PASS=tu-password-de-aplicacion
EMAIL_FROM=contacto@portfolio.com
EMAIL_TO=melina.lujan.pereyra@gmail.com

# Configuración de CORS
# Para desarrollo local
FRONTEND_URL=http://localhost:5173
# Para producción (Vercel)
# FRONTEND_URL=https://portfolio-melina-pereyra.vercel.app
